<div class="layoute">

    <div class="layoute">
        <div class="centralizar">

            <div class="containerInput">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Selecione uma disciplina</mat-label>
                    <input type="text" matInput placeholder="Pesquise por uma disciplina..." [matAutocomplete]="auto"
                        (ngModelChange)="buscarDisciplinaProDescricao()" [(ngModel)]="disciplinaPesquisa">
                    <mat-icon matSuffix>search</mat-icon>
                    <!-- <mat-error *ngIf="descricaoD?.hasError('required')">È necessario escolher uma disciplina</mat-error> -->
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option>--</mat-option>
                        <mat-option (onSelectionChange)="selecionarDisciplina(disciplina)"
                            *ngFor="let disciplina of disciplinas " [value]="disciplina.descricao">
                            {{disciplina.descricao}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Selecione um assunto</mat-label>
                    <input type="text" matInput placeholder="Pesquise por um assunto..." [matAutocomplete]="ass"
                        (ngModelChange)="buscarPorassuntosRelacionadosDisciplina()" [(ngModel)]="assuntoPesquisa">
                    <mat-icon matSuffix>search</mat-icon>

                    <mat-autocomplete #ass="matAutocomplete">
                        <mat-option>--</mat-option>
                        <mat-option (onSelectionChange)="selecionarAssunto(assunto)" *ngFor="let assunto of assuntos "
                            [value]="assunto.descricao">
                            {{assunto.descricao}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <div class="containerInput">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Selecione um topico ou Lei</mat-label>
                    <input type="text" matInput placeholder="Pesquise por um topico ou Lei..." [matAutocomplete]="to"
                        (ngModelChange)="buscarTopicoLeisRelacionadoAssunto()" [(ngModel)]="topicoLeiPesquisa">
                    <mat-icon matSuffix>search</mat-icon>

                    <mat-autocomplete #to="matAutocomplete">
                        <mat-option></mat-option>
                        <mat-option (onSelectionChange)="selecionarTopicoLei(topicoLei)"
                            *ngFor="let topicoLei of topicosLeis " [value]="topicoLei.descricao">
                            {{topicoLei.descricao}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <mat-form-field class="example-full-width" appearance="outline">

                    <mat-label>Selecione a categoria do artigo</mat-label>
                    <mat-select  (ngModelChange)="selecionarCategoriaArtigo($event)"  [(ngModel)]="artigo.categoria">
                        <mat-option  >--</mat-option>
                        <mat-option value="Crime">
                            {{"Crime"}}
                        </mat-option>
                        <mat-option value="Infração Administrativa">
                            {{"Infração Administrativa"}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

            </div>

            <mat-form-field *ngIf="artigo.categoria=='Crime' ||  artigo.categoria=='Infração Administrativa' " class="example-full-width" appearance="outline">
                <mat-label>Selecione a categoria da pena</mat-label>
                <mat-select (ngModelChange)="selecionarCategoriaPena($event)" [(ngModel)]="pena.categoria">
                    <mat-option >--</mat-option>
                    <mat-option  value="Detenção">
                        {{"Detenção"}}
                    </mat-option>
                    <mat-option  value="Reclusão">
                        {{"Reclusão"}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>

        <app-title-list [title]="disciplina.descricao"></app-title-list>

        <h1>
            <strong>{{assunto.descricao}}</strong>
        </h1>

        <h1>
            <strong>{{this.topicoLei.descricao}}</strong>
        </h1>

        <h1>
            <strong>{{this.artigo.categoria}}</strong>
        </h1>


        <div class="artigos" *ngFor="let artigo of artigos">
            <p>
                {{artigo.numero}} {{"º - "}} {{artigo.descricao}}
            </p>
            <p class="paragrafo" *ngIf="artigo.penas.length>=1">Pena: </p>
            <div class="penas" *ngFor="let pena of artigo.penas">
                <p class="paragrafo">
                    - {{pena.descricao}}
                </p>
            </div>

        </div>

    </div>

    <mat-paginator [length]="artigoPage?artigoPage.totalElements: 3" [disabled]=""
        [pageSizeOptions]="[3, 10, (artigoPage?artigoPage.totalElements: 30 /2)]" (page)="pegaMudancaPaginacao($event)"
        aria-label="Select page"
       
        >
    </mat-paginator>

</div>

<!-- pending -->