<app-card-title title="Cadastro de Penas"> </app-card-title>
<mat-card>

    <div class="container">
        <form [formGroup]="formulario" #formDir="ngForm" class="example-form" (ngSubmit)="onSubmit()">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Selecione por um artigo</mat-label>
                <textarea type="text" placeholder="Pesquise por um artigo " matInput formControlName="descricaoArtigo"
                    [matAutocomplete]="auto" (ngModelChange)="buscarPorDescricao()"
                    [(ngModel)]="descricaoArtigoPesquisa">
                </textarea>
                <mat-icon matSuffix>search</mat-icon>
             
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option>--</mat-option>
                    <mat-option (onSelectionChange)="setarArtigoEscolhido(artigo)"
                        *ngFor="let artigo of artigos "  [value]="artigo.descricao">
                        {{artigo.descricao}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="idArtigo?.hasError('required') ">
                    artigo is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <p> Artigo escolhido : <strong>{{artigo.descricao}}</strong></p>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Descrição da Pena </mat-label>
                <input matInput placeholder="Informe a descrição da pena" formControlName="descricao"
                    [(ngModel)]="pena.descricao">
                <mat-error *ngIf="descricao?.hasError('required') ">
                    Descricao is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Categoria da Pena </mat-label>

                <mat-select formControlName="categoria" [(ngModel)]="pena.categoria" >
                    <mat-option value="Detenção">
                        {{"Detenção"}}
                    </mat-option>
                    <mat-option value="Reclusão">
                        {{"Reclusão"}}
                      </mat-option>
                </mat-select>
                <mat-error *ngIf="categoria?.hasError('required') ">
                    categoria is <strong>required</strong>
                </mat-error>

            </mat-form-field>
            
            <button mat-raised-button [ngStyle]="{marginRight:'10px', marginBottom:'4px'}" color="primary">Cadastrar
            </button>
            <button mat-button type="button" color="primary" (click)="listar()">Artigos</button>


            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field> -->

            <!-- <mat-hint>{{disciplinaId?.value?.sound}}</mat-hint> -->
        </form>
    </div>

</mat-card>