<mat-card>



    <div class="container">
        <form [formGroup]="formulario" #formDir="ngForm" class="example-form" (ngSubmit)="onSubmit()">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Disciplina</mat-label>
                <input matInput formControlName="descricao" [(ngModel)]="disciplina.descricao"
                    placeholder="Informe a descrição da disciplina">

                <mat-error *ngIf="descricao?.hasError('required') ">
                    Disciplina is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="descricao?.hasError('minlength') ">
                    Disciplina is <strong>minLength 3 caracteres</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button [ngStyle]="{marginRight:'10px', marginBottom:'4px'}"
                color="primary">Cadastrar</button>
            <button mat-button type="button" color="primary" (click)="listar()">Disciplinas</button>


            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field> -->

        </form>
    </div>

</mat-card>