<div class="layoute">

    <div class="layoute">
        <app-title-list title="Assuntos" ></app-title-list>
        <div class="centralizar">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pesquise por um assunto...</mat-label>
                <input type="text" matInput 
                    (ngModelChange)="buscarPorDescricao()" [(ngModel)]="descricaoAssuntoPesquisa">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-error *ngIf="descricaoD?.hasError('required')">È necessario escolher uma disciplina</mat-error> -->
              

            </mat-form-field>
            <mat-progress-spinner *ngIf="!assuntoPage || assuntos?.length==0" diameter="40" mode="indeterminate"value=75></mat-progress-spinner>
        </div>

        <div class="assuntos" *ngFor="let assunto of assuntos">

            <h1>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
                    <mat-icon>pending</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button at-icon-button mat-menu-item (click)="editar(assunto)">
                        <mat-icon>edit</mat-icon> Editar
                    </button>
                    <button at-icon-button mat-menu-item (click)="excluir(assunto)">
                        <mat-icon>delete</mat-icon> Excluir
                    </button>
                </mat-menu>
                {{assunto.descricao}}

            </h1>

        </div>
    </div>



    <mat-paginator [length]="assuntoPage?assuntoPage.totalElements: 7" [disabled]=""
        [pageSizeOptions]="[7, 10, (assuntoPage?assuntoPage.totalElements: 30 /2)]"
        (page)="pegaMudancaPaginacao($event)" aria-label="Select page">
    </mat-paginator>

</div>

<!-- pending -->