.container {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 64px);

}

.containerOutLet {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* material sidebar */
.example-container {
    width: 100%;
    height: calc(100% - 64px);
    

}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    height: calc(100vh - 64px);
  }
