.container {
    margin: 0;
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: center;


}

main {

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 64px);

}

.containerOutLet {
    display: flex;
    align-items: center;
    justify-content: center;
}
