.layoute {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    height: calc(100vh - 64px);
    width: 100vw;
    overflow-y: auto;
}

.centralizar {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}


.assuntos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: Arial;
    flex-direction: column;
}

p {
    word-break: break-all;
    word-wrap: break-word;
    margin: 0 10px;
}

.paragrafo {
    word-break: break-all;
    word-wrap: break-word;
    margin: 0 10px;
    padding: 0;
}

.penas {}

.example-full-width {
    padding: 0 10px;
}

@media (max-width: 585px) {
    .centralizar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}