<div class="layoute">

    <div class="layoute">
        <app-title-list title="Artigos"></app-title-list>

        <div class="centralizar">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Selecione um topico ou lei</mat-label>
                <input type="text" matInput placeholder="Pesquise por um topico ou lei..." [matAutocomplete]="auto"
                    (ngModelChange)="buscarTopicoLeiPorDescricao()" [(ngModel)]="descricaoTopicoLeiPesquisa">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-error *ngIf="descricaoD?.hasError('required')">È necessario escolher uma disciplina</mat-error> -->
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option>--</mat-option>
                    <mat-option (onSelectionChange)="setarIdTopicoLeiEscolhido(topicoLei.id,topicoLei.descricao)"
                        *ngFor="let topicoLei of topicosLeis " [value]="topicoLei.descricao">
                        {{topicoLei.descricao}}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Artigo</mat-label>
                <input type="text" matInput placeholder="Pesquise por um artigo..."
                    (ngModelChange)="buscarPorDescricao()" [(ngModel)]="descricaoArtigoPesquisa">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-error *ngIf="descricaoD?.hasError('required')">È necessario escolher uma disciplina</mat-error> -->
            </mat-form-field>

            <!-- <mat-progress-spinner *ngIf="!artigoPage || artigos?.length==0" diameter="40" mode="indeterminate"value=75></mat-progress-spinner> -->
        </div>

        <div class="assuntos" *ngFor="let artigo of artigos">
            <p>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
                    <mat-icon>pending</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button at-icon-button mat-menu-item (click)="editar(artigo)">
                        <mat-icon>edit</mat-icon> Editar
                    </button>
                    <button at-icon-button mat-menu-item (click)="excluir(artigo)">
                        <mat-icon>delete</mat-icon> Excluir
                    </button>
                </mat-menu>
                {{artigo.numero}} {{"º - "}} {{artigo.descricao}}
            </p>
           
               
            
            
        </div>
    </div>

    <mat-paginator [length]="artigoPage?artigoPage.totalElements: 7" [disabled]=""
        [pageSizeOptions]="[7, 10, (artigoPage?artigoPage.totalElements: 30 /2)]" (page)="pegaMudancaPaginacao($event)"
        aria-label="Select page">
    </mat-paginator>

</div>

<!-- pending -->