<div class="layoute">

    <div class="layoute">

        <app-title-list  title="Disciplinas"></app-title-list>
        
        <div class="centralizar">
           
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pesquise por uma disciplina</mat-label>
                <input type="text" matInput 
                    (ngModelChange)="buscarPorDescricao()" [(ngModel)]="descricaoDisciplinaPesquisa">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-error *ngIf="descricaoD?.hasError('required')">È necessario escolher uma disciplina</mat-error> -->
              

            </mat-form-field>
            <mat-progress-spinner *ngIf="disciplinas?.length==0 || !disciplinaPage" diameter="40" mode="indeterminate"value=75></mat-progress-spinner>

        </div>

        <div class="disciplinas" *ngFor="let disciplina of disciplinas">

            <h1>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
                    <mat-icon>pending</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button at-icon-button mat-menu-item (click)="editar(disciplina)">
                        <mat-icon>edit</mat-icon> Editar
                    </button>
                    <button at-icon-button mat-menu-item (click)="excluir(disciplina)">
                        <mat-icon>delete</mat-icon> Excluir
                    </button>
                </mat-menu>
                {{disciplina.descricao}}
    
            </h1>
    
        </div>
    </div>
    


    <mat-paginator [length]="disciplinaPage?disciplinaPage.totalElements: 7" [disabled]=""
        [pageSizeOptions]="[7, 10, (disciplinaPage?disciplinaPage.totalElements: 30 /2)]" (page)="pegaMudancaPaginacao($event)"
        aria-label="Select page">
    </mat-paginator>

</div>

<!-- pending -->