/* You can add global styles to this file, and also import other style files */

html, body { margin:0; height: 100%;}
body { margin: 0;    font-family: Arial ; }


:root {
    --blue: #1e90ff;
    --corGeralLiterals: rgba(0,0,0,.87);

  }